In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in ./opt/anaconda3/lib/python3.9/site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in ./opt/anaconda3/lib/python3.9/site-packages (from mysql-connector-python) (3.20.1)
Note: you may need to restart the kernel to use updated packages.

In [16]:
import mysql.connector

In [17]:
mydb=mysql.connector.connect(host="127.0.0.1",user="root",password="12345678")

mycursor=mydb.cursor()

In [29]:
mycursor.execute("CREATE DATABASE Abdulazizdb")

In [53]:
mydb=mysql.connector.connect(host="127.0.0.1",user="root",password="12345678", database="Abdulazizdb")


mycursor=mydb.cursor()

In [61]:
mycursor=mydb.cursor()
mycursor.execute("CREATE TABLE Vehicles(Cond VARCHAR(1), Vehicle_id VARCHAR(5), Registration_id VARCHAR(8))")

In [62]:
mycursor.execute("ALTER TABLE Vehicles ADD Manufacturer VARCHAR(30)")
mycursor.execute("ALTER TABLE Vehicles ADD Model VARCHAR(15)")
mycursor.execute("ALTER TABLE Vehicles ADD Color VARCHAR(15)")
mycursor.execute("ALTER TABLE Vehicles ADD Current_Od INTEGER(6)")
mycursor.execute("ALTER TABLE Vehicles ADD Brief_Desc VARCHAR(50)")
mycursor.execute("ALTER TABLE Vehicles ADD Final_Cost VARCHAR(15)")

In [81]:
mycursor.execute("ALTER TABLE Vehicles ADD Date VARCHAR(10)")

In [82]:
assets="INSERT INTO Vehicles(Cond, Vehicle_id, Registration_id, Manufacturer, Model, Color, Current_Od, Brief_Desc, Final_Cost, Date) VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
Vehicles=[("R",'V1999',"123 ABC",'Volvo','Olympian','Blue', '170000',"Tire repair",'W350', '2021/11/23'),
         ('M','W2020',"234 BCD",'Chevralet','Cruize','White', '184999',"Oil Levels",'W300', '2021/03/14'),
         ('R','N2003',"345 CDE",'Kia','Carens2','Black', '200000',"Fuel Cap tightening",'W700', '2022/09/03'),
         ('R','O2000',"456 DEF",'Hyundai','Universe','White', 166000,"Oxygen Sensor replacement",'W3000', '2022/10/21'),
         ('M','A2005',"567 EFG",'Hyundai','Universe','White', 44000,"Air Filter",'W200', '2022/06/28'),
         ('R','V1999','678 FGH','Hyundai',"Hi class",'Red', 58000,"Brake work",'W50', '2022/01/12')]
mycursor.executemany(assets, Vehicles)
mydb.commit()

In [84]:
mycursor.execute("CREATE TABLE Partisipant_Countries(Countries VARCHAR(30), Languages VARCHAR(3))")

In [88]:
Country_info = "INSERT INTO Partisipant_Countries(Countries, Languages) VALUES(%s, %s)"
Partisipant_Countries = [("Afghanistan", "AF"),
                        ("Australia", "AU"),
                        ("Bahrain", "BH"),
                        ("China", "CN"),
                        ("Chinese Taipei", "TP"),
                        ("Timor-Leste", "TL"),
                        ("Indonesia", "IN"),
                        ("Kazakhstan", "KA"),
                        ("Kirgizistan", "KZ"),
                        ("Uzbekistan", "UZ"),
                        ("Pakistan", "PK"),
                        ("Qatar", "QT"),
                        ("Oman", "OM"),
                        ("Myanmar", "MY"),
                        ("Palestine", "PL"),
                        ("Saudi Arabia", "SA"),
                        ("Singapore", "SG"),
                        ("Tajikistan", "TJ"),
                        ("Thailand", "TA"),
                        ("Turkmenistan", "TK"),
                        ("United Arab Emirates", "UA"),
                        ("Vietnam", "VT"),
                        ("Yemen", "YE"),
                        ("South Korea", "KR")]
mycursor.executemany(Country_info, Partisipant_Countries)
mydb.commit()

In [90]:
mycursor.execute("CREATE TABLE Partisipant_Officials(Country_Name VARCHAR(25), City_id INTEGER(8), Name VARCHAR(30), Position VARCHAR(20), Preferred_Language VARCHAR(20))")

In [91]:
Officials_info = "INSERT INTO Partisipant_Officials(Country_Name, City_id, Name, Position, Preferred_Language) VALUES(%s, %s, %s, %s, %s)"
Partisipant_Officials = [("Uzbekistan", "12190257", "Abdulaziz", "Couch", "Uzbek"),
                         ("United Arab Emirates", "02190258", "Abdulazeez", "Couch", "Arabic"),
                         ("United Arab Emirates", "02190257", "Abdullakh", "Physician", "Arabic"),
                         ("Yemen", "11190257", "Ali", "Couch", "Arabic"),
                         ("Vietnam", "22290257", "David", "Couch", "English"),
                         ("Thailand", "33390257", "Jone", "Couch", "Korean"),
                         ("Singapore", "44490257", "Omar", "Couch", "English"),
                         ("Oman", "55590257", "Amr", "Couch", "English"),
                         ("Qatar", "66690257", "Abdulrohman", "Couch", "Arabic"),
                         ("Qatar", "66690257", "Abu Bakr", "Couch", "English"),
                         ("Palestine", "77790257", "David", "Couch", "Arabic"),
                         ("Palestine", "77790257", "Uthman", "Couch", "English"),
                         ("Kirgizistan", "88890257", "Bahodir", "Couch", "English"),
                         ("Kirgizistan", "88890257", "Elmar", "Couch", "English"),
                         ("Uzbekistan", "12190250", "Islam", "Couch", "Uzbek"),
                         ("Australia", "12345678", "Peter", "Couch", "English"),
                         ("Pakistan", "23456789", "Talib", "Physician", "Urdu"),
                         ("Indonesia", "34567890", "Amir", "Couch", "English"),
                         ("Kazakhstan", "45678901", "Kim", "Couch", "Korean"),
                         ("China", "56789012", "Chin", "Couch", "Chinese"),
                         ("Bahrain", "67890123", "Omair", "Couch", "English"),
                         ("Afghanistan", "78901234", "Husayn", "Couch", "English"),
                         ("Turmenistan", "89012345", "Abi Talib", "Couch", "Arabic"),
                         ("Yemen", "90123456", "Mahmud", "Couch", "English"),]
mycursor.executemany(Officials_info, Partisipant_Officials)
mydb.commit()

# Here is the data for participating officials: their country, Incheon City id, name, role, Language.

In [98]:
mycursor=mydb.cursor()
mycursor.execute("CREATE TABLE Drivers(D_name VARCHAR(20),L_Number INTEGER(18))")# licence number should have 18 characters
mycursor.execute("ALTER TABLE Drivers ADD Cl_Level INTEGER(1)")# 1 - 4

mycursor.execute("ALTER TABLE Drivers ADD FATL_Test VARCHAR(3)")# yes or no
mycursor.execute("ALTER TABLE Drivers ADD FATL_Level INTEGER(2)")# 1 - 10
mycursor.execute("ALTER TABLE Drivers ADD FATLQ_Date VARCHAR(10)") # FATL qualification date.

mycursor.execute("ALTER TABLE Drivers ADD STLVT_Test VARCHAR(3)")# yes or no
mycursor.execute("ALTER TABLE Drivers ADD STLVT_Level INTEGER(2)")# 1 -5
mycursor.execute("ALTER TABLE Drivers ADD STLVTQ_Date VARCHAR(10)")# STLVT qualification date.
mycursor.execute("ALTER TABLE Drivers ADD STLVT_Authority VARCHAR(50)")# Qualifying Authority
mycursor.execute("ALTER TABLE Drivers ADD Driver_Languages VARCHAR(70)")# Languages that drivers can speak.


#We create a table for drivers info here.

ProgrammingError: 1050 (42S01): Table 'drivers' already exists

In [104]:
mycursor.execute("ALTER TABLE Drivers DROP L_Number")

In [105]:
mycursor.execute("ALTER TABLE Drivers ADD L_Number VARCHAR(20)")

In [110]:
sql='''INSERT INTO Drivers(D_name,Cl_Level,FATL_Test,FATL_Level,FATLQ_Date,STLVT_Test,STLVT_Level,STLVTQ_Date,STLVT_Authority,Driver_Languages,L_Number)
VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
for d in range(6):
    name = input("Name: ")
    clearance_l = int(input("Clearance Level: "))# 1-4
    fatl_t = input("FATL Test: ")#yes or no
    fatl_l = input("FATL Level: ")#1-10
    fatlq_d = input("FATL qualification Date: ")# FATL Q date
    stlvt_test = input("STLVT Test: ")#yes or no
    stlvt_l = input("STLVT Level: ")# 1-5
    stlvtq_d = input("STLVT qualification Date: ")# Q date
    stlvt_a = input("STLVT Authority: ") # Authority
    drivers_lan = input("Language: ")
    licence_n = input("Licence No: ")

    Drivers = [(name, clearance_l, fatl_t, fatl_l, fatlq_d, stlvt_test, stlvt_l, stlvtq_d, stlvt_a, drivers_lan, licence_n)]
    mycursor.executemany(sql, Drivers)
mydb.commit()

Name: Jony
Clearance Level: 4
FATL Test: No
FATL Level: 0
FATL qualification Date: 0
STLVT Test: No
STLVT Level: 0
STLVT qualification Date: 0
STLVT Authority: NO
Language: Uzbek
Licence No: 123456789012345678
Name: David
Clearance Level: 4
FATL Test: Yes
FATL Level: 10
FATL qualification Date: 09/08/2014
STLVT Test: No
STLVT Level: 0
STLVT qualification Date: 0
STLVT Authority: No
Language: Korean
Licence No: 234567890123456789
Name: Jone
Clearance Level: 4
FATL Test: No
FATL Level: 0
FATL qualification Date: 0
STLVT Test: No
STLVT Level: 0
STLVT qualification Date: 0
STLVT Authority: No
Language: Urdu
Licence No: 345678901234567890
Name: Po
Clearance Level: 4
FATL Test: Yes
FATL Level: 9
FATL qualification Date: 06/05/2012
STLVT Test: Yes
STLVT Level: 5
STLVT qualification Date: 07/07/2012
STLVT Authority: Local Police
Language: English
Licence No: 456789012345678901
Name: Ugvey
Clearance Level: 4
FATL Test: No
FATL Level: 0
FATL qualification Date: 0
STLVT Test: No
STLVT Level: 0
STLVT qualification Date: 0
STLVT Authority: No
Language: Arabic
Licence No: 567890123456789012
Name: Tiger
Clearance Level: 3
FATL Test: No
FATL Level: 0
FATL qualification Date: 0
STLVT Test: No
STLVT Level: 0
STLVT qualification Date: 0
STLVT Authority: No
Language: Chinese
Licence No: 678901234567890123

In [28]:
mycursor.execute("ALTER TABLE Partisipant_Officials ADD Assigned_Drivers VARCHAR(20)")

ProgrammingError: 1060 (42S21): Duplicate column name 'Assigned_Drivers'

In [32]:
Officials_info = "INSERT INTO Partisipant_Officials(Assigned_Drivers) VALUES(%s)"
Partisipant_Officials = [("Jony"),
                         ("Ugvey"),
                         ("Ugvey"),
                         ("Ugvey"),
                         ("Po"),
                         ("David"),
                         ("Po"),
                         ("Po"),
                         ("Ugvey"),
                         ("Po"),
                         ("Ugvey"),
                         ("Po"),
                         ("Po"),
                         ("Po"),
                         ("Jony"),
                         ("Po"),
                         ("Jone"),
                         ("Po"),
                         ("David"),
                         ("Tiger"),
                         ("Po"),
                         ("Po"),
                         ("Ugvey"),
                         ("Po")]

# "Jony",
# 	 "Ugvey",
# 	 "Ugvey",
# 	 "Ugvey",
# 	 "Po",
# 	 "David",
# 	 "Po",
# 	 "Po",
# 	 "Ugvey",
# 	 "Po",
# 	 "Ugvey",
# 	 "Po",
# 	 "Po",
# 	 "Po",
# 	 "Jony",
# 	 "Po",
# 	 "Jone",
# 	 "Po",
# 	 "David",
# 	 "Tiger",
# 	 "Po",
# 	 "Po",
# 	 "Ugvey",
# 	 "Po"

    
    mycursor.execute(Officials_info, name)
mydb.commit()

ProgrammingError: Not all parameters were used in the SQL statement

In [11]:
SELECT * FROM Partisipant_Officials;

SyntaxError: invalid syntax (2635848928.py, line 1)

In [33]:
mycursor.execute("ALTER DATABASE Abdulazizdb")

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '' at line 1

In [46]:
mycursor.execute("CREATE TABLE droffnames(Officials_names VARCHAR(20),Drivers_names VARCHAR(20))")

In [50]:
sql_command = "INSERT INTO droffnames (Officials_names,Drivers_names) VALUES(%s,%s)"
Partisipant_Officials = [("Abdulaziz","Jony"),
                         ("Abdulazeez","Ugvey"),
                         ("Abdullakh","Ugvey"),
                         ("Ali","Ugvey"),
                         ("David","Po"),
                         ("Jone","David"),
                         ("Omar","Po"),
                         ("Amir","Po"),
                         ("Abdulrohman","Ugvey"),
                         ("Abu Bakr","Po"),
                         ("David","Ugvey"),
                         ("Uthman","Po"),
                         ("Bahodir","Po"),
                         ("Elmar","Po"),
                         ("Islam","Jony"),
                         ("Peter","Po"),
                         ("Talib","Jone"),
                         ("Amir","Po"),
                         ("Kim","David"),
                         ("Chin""Tiger"),
                         ("Omair","Po"),
                         ("Husayn","Po"),
                         ("Abi Talib","Ugvey"),
                         ("Mahmud","Po")]
mycursor.executemany(droffnames, Partisipant_Officials)
mydb.commit()

In [54]:
mycursor.execute("CREATE TABLE Trips(Start  INTEGER(20),End INTEGER(18),Booking_num INTEGER(18),pick_up VARCHAR(18),drop_off VARCHAR(20),type VARCHAR(18))")# licence number should have 18 characters

In [55]:
s="INSERT INTO Trips(Start,End,Booking_num,pick_up,drop_off,type) VALUES(%s,%s,%s,%s,%s,%s)"
trips_list=[(20221208,20221230,23456,"Bukhary street","Behind house","Hotel"),
         (20230302,20232330,87696,"Culture street","Culture street", "Home"),
         (20230102,20230203,94565,"Behind bank", "Beside Inha", "Police station"),
         (20230205,20230406,67543,"Bahodir street", "G'ofurjon street","Hospital"),
        (20220212,20230230,53050,"Abdulaziz street", "Abdulaziz Avenue","House")]
mycursor.executemany(s,trips_list)
mydb.commit()